[access]
	inheritFrom = Platform-Unrestricted-Projects
[receive]
	requireContributorAgreement = true
[submit]
	action = rebase if necessary
	mergeContent = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group approvers-platform-art
[access "refs/heads/main"]
	label-Autosubmit = +0..+1 group mdb/art-benchmark-service
	label-Code-Review = -1..+1 group mdb/art-benchmark-service
	label-Presubmit-Ready = +0..+1 group mdb/art-benchmark-service
	read = group mdb/art-benchmark-service
